@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
    font-family: 'Gowun Dodum', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-links {
    text-align: center;
    position: sticky;
    top: 0px;
    display: flex;
    gap: 1em;
    background-color: #0b4b0d;
    height: 40px;
    z-index: 100;
}

.sticky-links a {
    color: white;
    text-decoration: none;
    width: 60px;
    text-align: center;
    padding: 0.5em 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sticky-links a:hover {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.sidebar {
    color: black;
    margin: 1em;
    position: fixed;
    top: 150px;
    width: 100px;
    margin-right: 20px;
    z-index: 10;
    /* 사이드바가 다른 요소들보다 위에 위치하도록 설정 */
}



.sidebar button {
    display: block;
    margin-bottom: 0.5em;
    color: black;
    text-decoration: none;
    padding: 0.5em;
    background: none;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.sidebar button:hover {
    background-color: #d3d3d3;
    color: #4CAF50;
    font-weight: bold;
}

.cent {
    display: block;
    /* 기존의 inline-block에서 block으로 변경 */
    margin-bottom: 16px;
    margin-left: 0;
    text-align: center;
    position: relative;
    font-weight: 500;
}

.cent:hover .tooltip {
    opacity: 1;
    /* 호버 시 완전 불투명 */
    visibility: visible;
    /* 호버 시 표시 */
    max-height: 400px;
    /* 필요에 따라 조정 가능 */
    pointer-events: all;
    /* 툴팁 위에서 마우스 이벤트 허용 */
    margin-top: 12px;
    /* 부모 요소와 툴팁 간의 간격 설정 */
}


.plant-table {
    border-collapse: collapse;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.plant-table th,
.plant-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.plant-table th {
    background-color: #4CAF50;
    color: white;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.vegetable-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
    border: 1px solid black;
}

.vegetable-list a {
    color: black;
    text-decoration: none;
    padding: 8px 10px;
    margin: 5px 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 14px;
}

.vegetable-list a:hover {
    background-color: #4CAF50;
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: opacity 0.3s;
    opacity: 0;
}

#scroll-to-top.show {
    opacity: 1;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid white;
    position: relative;
    bottom: 6px;
}

.image-and-table {
    display: flex;
    align-items: center;
    gap: 20px;
}

.veg-img {
    margin-left: 30%;
    width: 180px;
    height: auto;
}

.veg-img:hover {
    box-shadow: 10px 7px 20px green;
}

.plant-table {
    width: 30%;
    margin-right: 30%;
}

.contact {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}

.tooltip {
    overflow: hidden;
    display: block;
    padding-left: 60px;
    /* 이미지 너비 + 여백을 위한 패딩 조정 */
}

.tooltip {
    margin-top: 8px;
    background-color: #e1e1e1;
    color: #333;
    padding: 8px;
    border-radius: 4px;
    white-space: normal;
    /* 텍스트가 길 경우 줄바꿈 */
    font-weight: 500;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: opacity 1s ease, visibility 1s ease, max-height 1s ease;
    pointer-events: none;
    position: relative;
    text-align: center;
}

.tooltip.active {
    opacity: 1;
    visibility: visible;
    max-height: 600px;
    pointer-events: all;
}

.tooltip-image {
    max-width: 100%;
    max-height: 150px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

.add-table {
    border-collapse: collapse;
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

.add-table th,
.add-table td {
    border: 1px solid #ddd;
    padding: 2px;
}

@media (max-width: 768px) {
    .sidebar {
        position: relative;
        width: 100%;
        bottom: 0;
        top: auto;
        ;
    }

    .sticky-links {
        flex-direction: column;
        height: auto;
    }

    .sticky-links a {
        width: auto;
        padding: 1em;
    }

    .cent {
        padding: 0.5em;
    }

    .veg-img {
        max-width: 400%;
    }
}